name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 11 * * 6'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
          - java: 11
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: actions/setup-java@v2
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - shell: bash
      name: install sbt
      run: curl -Ls https://raw.githubusercontent.com/dwijnand/sbt-extras/aff36a23f7213d94189aabfcc47a32b11f3a6fba/sbt > ./sbt && chmod 0755 ./sbt
    - uses: coursier/cache-action@v6
    - run: ./sbt -v
           scalafmtCheckAll
           scalafmtSbtCheck
           "+ coreJVM/test"
           "+ coreJS/test"
           "+ coreNative/test"
           "+ macrosJava/test"
           "+ testsJVM/run"
           "+ testsJS/run"
