name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 11 * * 6'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
          - java: 25
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@v5
      with:
        java-version: ${{matrix.java}}
        distribution: zulu
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - run: sbt -v
           "+ scalafmtCheckAll"
           scalafmtSbtCheck
           "+ coreJVM/test"
           "+ coreJS/test"
           "+ coreNative/test"
           "+ macrosJava/test"
           "+ macros/test"
           "+ testsJVM/run"
           "+ testsJS/run"
           "+ doc"
